.profileCard {

display: flex;
/* justify-content: space-between; */
align-items: center;
    /* text-align: center; */
    font-family: sans-serif;
    gap: 5px;
    padding: 5px 0px;
    /* background-color: #aaa; */
    border-radius: 10px;
  cursor: pointer;
  }
  .profileResponsive{
    display: flex;
/* justify-content: space-between; */
align-items: center;
    /* text-align: center; */
    font-family: sans-serif;
    gap: 5px;
    padding: 5px 0px;
    /* background-color: #aaa; */
    border-radius: 10px;
  cursor: pointer;
  }

  .profileAvatar {
    width: 40px;
    height: 40px;
    /* margin: 0 auto 15px; */
    background-color: #4a90e2;
    color: white;
    border-radius: 50%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
  }
  .profile-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  
  .profileName {
    font-size: 1.5rem;
    color: #444;
    margin: 0;
    font-weight: normal;
  }
  

  .profilePic {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #cce4f7;
    margin-bottom: 8px;
  }

  @media screen and (max-width: 650px) {
    .profileResponsive{
        display: none;
    
    }
}