.appLayout{
   display: flex;
   /* flex-direction: column ;   */
   height : 100dvh;
   height: 100vh;
overflow: hidden;
position: relative;
background-color: #f9f7f3;
}
.safari{
    -webkit-overflow-scrolling: touch;
  
}