.appLayout{
   display: flex;
   /* flex-direction: column ;   */
   max-height: 100vh;
   /* min-height: -webkit-fill-available; For iOS Safari */
overflow: hidden;
position: relative;
background-color: #f9f7f3;
}
.safari{
    -webkit-overflow-scrolling: touch;
  
}