/* Notes Section Styles */

  .modalOverlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    z-index: 50;
  }
  
  .modalContent {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    width: 100%;
    max-width: 35rem;
  }

  .modalTitle {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--primary);
  }
  .characterCount {
  font-size: 0.875rem;
  color: #6b7280;
  /* margin-top: 0.25rem; */
  margin-bottom: 1rem;
}
  /* .noteTextarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    height: 8rem;
  }

  .noteTextarea:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
    border-color: var(--primary);
  } */
  
  .modalActions {
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;
  }
  
  .cancelBtn {
    padding: 0.5rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    color: #4b5563;
    background-color: white;
    cursor: pointer;
  }
  
  .cancelBtn:hover {
    background-color: #f9fafb;
  }
  
  .saveBtn {
    padding: 0.5rem 1rem;
    background-color: var(--primary);
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
  }
  
  .saveBtn:hover {
    background-color: var(--primary);
  }
  