
 .modalOverlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    z-index: 50;
  }
  
  .modalContent {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    width: 100%;
    max-width: 28rem;
  }
  
  .questionnaireContent {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    width: 100%;
    max-width: 42rem;
    max-height: 100vh;
    overflow: auto;
  }
  
  .modalTitle {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--primary);
  }
  


  

  
  .cancelBtn {
    padding: 0.5rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    color: #4b5563;
    background-color: white;
    cursor: pointer;
    /* border: none; */
  }
  
  .cancelBtn:hover {
    background-color: #f9fafb;
  }
  

  
  .questionnaireHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .closeModalBtn {
    color: #6b7280;
    cursor: pointer;
  }
  
  .closeModalBtn:hover {
    color: #1f2937;
  }
  
  .questionList {
    border-top: 1px solid #e5e7eb;
  }
  
  .questionItem {
    padding: 1rem 0;
    border-bottom: 1px solid #e5e7eb;
  }
  
  .question {
    font-weight: 500;
    color: var(--primary);
    /* color: #3730a3; */
    margin-bottom: 0.5rem;
  }
  
  .answer {
    color: #4b5563;
    background-color: #eef2ff;
    padding: 0.75rem;
    border-radius: 0.5rem;
  }
  
  .questionnaireFooter {
    margin-top: 1.5rem;
    text-align: right;
  }
  
  .closeBtn {
    padding: 0.5rem 1rem;
    background-color: var(--primary);
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
  }
  
  .closeBtn:hover {
    background-color: var(--button-hover);
  }