.appLayout{
    display: flex;
    flex-direction: column ;  
    height : 100vh;
 overflow: hidden;
 position: relative;
 background-color: #f9f7f3;
 color:#1B1B1B;
 width: auto;
 }
 .safari{
     -webkit-overflow-scrolling: touch;
   
 }

   /* collected from footermenu can delete when you see everything works */
   .rare{
    display: flex;
    flex-direction: column;
    /* height: 70px; */
    /* justify-self: flex-end; */
    z-index: 10000;
    bottom: 0;
    /* flex-grow: 1;  */
    /* width: 100vw; */
    /* position: fixed; */
   
    background-color: #f9f7f3;
  
}