.navigation{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}
.navigation li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.navigation span{
    font-size: 12px;
}
.IconImages{
    max-width: "100%";
    height: "auto";
    width: 24px;
    height: 24px;
}
.rare{
    display: flex;
    flex-direction: column;
    /* height: 70px; */
    /* justify-self: flex-end;
    flex-shrink: 0; */
    position: fixed;
    z-index: 10000;
    bottom: 0;
    width: 100vw;
   
    background-color: #f9f7f3;
  
}
.navCon{
    justify-self: flex-end;
    display: none;

}
@media screen and (max-width: 650px) {
    .navCon{
        display: inline-block;
    
    }
}