/* BusinessHeader.module.css */
.hero {
    background: rgba(2, 44, 34, 1);
    display: flex;
    padding: 64px 156px;
    gap: 32px;
  }
  
  @media screen and (max-width: 1270px) {
    .hero {
      padding: 20px 60px 20px 60px;
    }
  }
  
  @media screen and (max-width: 990px) {
    .hero {
      padding: 24px 16px 24px 16px;
    }
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 100%;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .container img {
      width: 100%;
    }
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
  .text {
    gap: 24px;
  }
  
  .heading {
    font-family: "Poppins", sans-serif;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 6.8rem;
    letter-spacing: -0.04em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
  
  @media screen and (max-width: 468px) {
    .heading {
      font-size: 3.2rem;
      line-height: 4rem;
      letter-spacing: -0.01em;
    }
  }
  
  .spanText {
    position: relative;
  }
  
  .spanText img {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .supportingText {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.004em;
    text-align: left;
    color: rgba(231, 231, 231, 1);
  }
  
  @media screen and (max-width: 468px) {
    .supportingText {
      font-size: 1.8rem;
      line-height: 2.6rem;
    }
  }
  
  .actions {
    gap: 12px;
  }
  
  .button {
    background: rgba(239, 248, 122, 1);
    border-radius: 40px;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.004em;
    text-align: center;
    color: rgba(2, 44, 34, 1);
    width: fit-content;
    border: none;
    outline: none;
    transition: 0.3s all ease;
  }
  
  .button:hover,
  .button:focus {
    border: 1px solid rgba(2, 44, 34, 1);
    background: white;
  }
  
  @media screen and (max-width: 468px) {
    .button {
      padding: 12px 24px 12px 24px;
    }
  }
  
  .rightImage {
    position: relative;
  }
  
  .upIcon {
    position: absolute;
    z-index: 7;
    top: -1.3em;
    left: -1.3em;
  }
  
  .upIcon img {
    width: 90%;
  }
  
  .iccon {
    position: absolute;
    z-index: 7;
    bottom: -2.2em;
    right: -5.6em;
  }
  
  .iccon img {
    width: 90%;
  }
  
  @media screen and (max-width: 468px) {
    .iccon img {
      width: 60%;
    }
  }
  