.careContainer{
    flex: 1;
    overflow-Y: scroll;
    display: flex;
    flex-direction: column;
    padding: 10px;

}
.chatCon{

    height: 100vh;

    /* display: flex;
    flex-direction: "column" */


    padding: 10px;
}
.messageList {
    flex: 1;
    overflow-Y: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .message {
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
    margin: 5px 0;
  }