
.downloadAppCon{
    background-color: #F8F4F0;
    padding: 150px 200px 150px 200px;
}
.DownloadCon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.downloadLeft{
display: flex;
flex-direction: column;
/* gap: 3.2rem; */
}
.downloadHOne{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 52px;
    letter-spacing: -0.01em;
    margin-bottom: 1.6rem;
}
.downloadList{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: -0.1px;
    /* list-style-image: url("../../public/checkList.svg") ;
    list-style-position: inside; */
   margin-bottom: 3.2rem;
   
}
.list{
    display: flex;
    align-items: center;
    gap: 3px;
    /* justify-content: center; */
}
.buttonContainer{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
@media screen and (max-width: 990px) {
    .downloadAppCon {
        padding: 40px 16px;
    }
}
@media screen and (max-width: 685px) {
    .DownloadCon{
        flex-direction: column-reverse;
        gap: 3.2rem;
    }
}