
.downloadAppCon{
    background-color: #F8F4F0;
    padding: 150px 200px 150px 200px;
    position: relative;
}
.DownloadCon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.downloadLeft{
display: flex;
flex-direction: column;
/* gap: 3.2rem; */
}
.downloadHOne{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 52px;
    letter-spacing: -0.01em;
    margin-bottom: 1.6rem;
}
.downloadList{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: -0.1px;
    /* list-style-image: url("../../public/checkList.svg") ;
    list-style-position: inside; */
   margin-bottom: 3.2rem;
   
}
.list{
    display: flex;
    align-items: center;
    gap: 3px;
    /* justify-content: center; */
}
.buttonContainer{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
   
}
/* .scanMe{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
} */
@media screen and (max-width: 990px) {
    .downloadAppCon {
        padding: 90px 16px;
    }
}
@media screen and (max-width: 685px) {
    .DownloadCon{
        flex-direction: column-reverse;
        gap: 3.2rem;
    }
    .downloadHOne{
        font-size: 3.2rem;
    line-height: 40px;
    }
}


.custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 46px;
}

.custom .shape {
    fill: #ffffff;
}