@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}
.styledFaq {
    background-color: #ffffff;
    position: relative;
  }
  
  .faqContainer {
    display: flex;
    gap: 4rem;
    padding: 64px 200px;
    color: #1B1B1B;
  }
  @media screen and (max-width: 990px) {
    /* @media screen and (max-width: 685px) { */
      .faqContainer {
        padding-right: 16px;
        padding-left: 16px;
        padding-bottom:40px ;
        padding-top: 90px;
      }
    }
  
  @media screen and (max-width: 685px) {
    .faqContainer {
      /* padding: 40px 16px; */
      flex-direction: column;
    }
  }
  
  .boldText {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.2rem;
    letter-spacing: -0.01em;
  }
  
  @media screen and (max-width: 685px) {
    .boldText {
      font-size: 3.2rem;
      line-height: 4rem;
      text-align: left;
    }
  }
  
  .mainFaq {
    max-width: 79.3rem;
    width: 100%;
    align-self: center;
  }
  .QuesAnsContainer{
   display: flex;
   flex-direction: column;
   gap: 1.6rem;
    padding: 1.6rem 0rem 1.6rem 0rem;
    word-wrap: break-word;
    border-bottom: 1px solid rgba(246, 246, 246, 1);
    cursor: pointer;
    margin-bottom: 1.6rem;
  }

  .individualFaq {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .answerFaq{
    /* margin-bottom: 1.6rem; */
    font-size: 1.4rem;
    line-height: 20px;
    letter-spacing: -0.004em;
    font-weight: 400;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
  .textFaq {
    font-size: 2rem;
    line-height: 34px;
    letter-spacing: -0.01em;
    font-weight: 700;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
  
  .spanRound {
    position: relative;
  }
  
  .spanRound img {
    position: absolute;
    right: 0.2em;
    top: -0.4em;
  }
  .arrowUp{
    animation: spin 0.3s ease-in-out;
    font-size: 2.5rem;
    font-weight: 100;
  }
  @media screen and (max-width: 685px) {
    .textFaq {
      font-size: 2rem;
    }
    .answerFaq{

    }

  }


  .custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 46px;
}

.custom .shape {
    fill: #FFFBF4;
}