.StyledFooter {
  display: flex;
  padding: 14.4rem 20rem 6.4rem 20rem;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  /* align-items: center; */
  /* background: #022c22; */
  background: #325343;
  width: 100vw;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  position: relative;
}
@media screen and (max-width: 990px) {
  .StyledFooter {
  padding: 90px 16px 40px 16px;
  justify-content: center;
  align-items: center;
  }
}

.FooterTopContainer{
  display: grid;
  align-items: center;
  border-radius: 16px;
  /* box-shadow: 0px 0px 1px #FFE27C, 0px 0px 0px #FFE27C; */
  /* box-shadow: 0px 0px 10px #f0f87a, 0px 0px 20px #f0f87a; */
  padding: 32px;
  gap: 24px;
/* color: #FFE27C; */
color: #022c22;
  width: 100%;
  background-color: #FFE27C;
  /* background-color: #f0f87a; */
  /* border: 1px solid #f0f87a; */
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

}
@media screen and (max-width: 400px) {
  .FooterTopContainer{
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  gap: 1.6rem;
  }
}

.FooterTopContent{
  display: flex;

  justify-content: space-between;
  align-items: center;
  /* @media screen and (max-width: 990px) {
    flex-direction: column;
    align-items: start;
  } */
}

.FooterTopText{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.FooterTopTextBold{
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: -0.01em;
  /* text-align: left; */
  /* color: ${(props) => props.theme.colors.green950}; */
}
@media screen and (max-width: 468px) {
  .FooterTopTextBold{
  font-size: 2rem;
  line-height: 2.4rem;
  }
}

.FooterTopTextLight{ 
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.004em;
  text-align: left;
  color: #022c22;
  /* color: #FFE27C; */
}
@media screen and (max-width: 468px) {
  .FooterTopTextLight{ 
  font-size: 1.4rem;
  line-height: 2rem;
  }
}

.FooterTopField {
  /* border: 1px solid #022c221a; */
  border: 1px solid #FFE27C;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  border-radius: 48px;
  flex-shrink: 1;
  max-width: 100%;
  /* border: 1px; */
  /* width: 50%; */
  /* height: 48px; */
  margin-top: 1rem;
}
@media screen and (max-width: 468px) {
  .FooterTopField {
  padding: 0px 0px 0px 16px;
  max-height: 3.6rem;
  width: 100%;
  }
}

.FooterTopFieldInput {
  background: #ffffff;
  padding: 0px 0px 0px 24px;
  border-radius: 48px;
  border: none;
  color: #888888;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: -0.004em;
}
.FooterTopFieldInput:focus {
  outline: none;
  outline-offset: none;
}
@media screen and (max-width: 468px) {
  .FooterTopFieldInput {
  padding: 0px 0px 0px 16px;
  font-size: 12px;
  width: 100%;
  border-radius: 24px;
  }
}

.FooterTopFieldButton {
  background: #022c22;

  border-radius: 0px 48px 48px 0px;
  padding: 12px 20px 12px 20px;
  display: flex;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  /* letter-spacing: -0.004em; */
  text-align: center;
  color: white;
  border: none;
  outline: none;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 468px) {
  .FooterTopFieldButton {
  font-size: 14px;
  padding: 8px 16px 8px 16px;
  width: 100%;
  line-height: 20px;
  text-align: center;
  max-width: 10.5rem;
  /* img {
    width: 16px;
    height: 16px;
  } */
  }
}

.FooterBottomContainer{
  display: flex;
  padding: 64px 0 64px 0;
  gap: 24px;
  flex-direction: column;
}

.FooterBottomContent {
    display: flex;
  
    justify-content: space-between;
    align-items: center;
  gap: 24px;
  flex-direction: row;
}
@media screen and (max-width: 468px) {
  .FooterBottomContent {
  gap: 14px;
  }
}

.FooterBottomBlock {
    display: flex;
 
    justify-content: space-between;
    align-items: center;
  gap: 0;
  padding: 24px 0 0 0;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: row; */
  border: 0.1rem 0rem 0rem 0rem;
}
@media screen and (max-width: 768px) {
  .FooterBottomBlock {
  flex-direction: column;
  align-items: start;
  gap: 24px;
  padding: 0;
  }
}

.FooterBottomBlockText{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.004em;
  text-align: left;
  color: white;
}
@media screen and (max-width: 468px) {
  .FooterBottomBlockText{
  font-size: 10px;
  color: #d1d1d1;
  }
}

.FooterBottomLink {

  color: white;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 468px) {
  .FooterBottomLink {
  font-size: 11px;
  }
}

.FooterSocials{
    display: flex;
    justify-content: space-between;
    align-items: center;
  gap: 16px;
  flex-direction: row;
}

.FooterSocialsButton {
  background: none;
  border: none;
  outline: none;
}

.custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 45px;
}

.custom .shape{
  fill: #f8f4f0;
}