.howItWorksContainer{
    padding: 12.4rem 20rem 6.4rem 20rem;
    background: linear-gradient(#f7f0e6 60%,#fffcf6 80%);
    /* background-color: #FFFBF4; */
    position: relative;
}
.howHead{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}
.howright{

}
.howHOne{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 52px;
    letter-spacing: -0.01em;
}
.howHFour{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 26px;
    letter-spacing: -0.004em;
}
.howLeft{

}
.headBotCon{

    gap: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.headBot{
    padding: 48px 24px 48px 24px;
    /* border: 1px solid #D6D6D6; */
    border-radius: 16px;
    /* background-color: #B1D8FC; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 325.33px;
    height: 348px;
}
.colorOne{
background-color: #B1D8FC;
}
.colorTwo{
background-color: #FFE27C;
}
.colorThree{
background-color: #C4B1F9;
}
.headBotHOne{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;
    margin-bottom: 8px;

}
.IndexOne{
    margin-bottom: 26px;
}
.IndexNone{
    margin-bottom: 24px;
}
.headBotPara{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: -0.004em;
    text-align: center;
}
    @media screen and (max-width: 990px) {
        /* @media screen and (max-width: 685px) { */
          .howItWorksContainer {
            padding: 90px 16px;
          }
        }

        @media screen and (max-width: 685px) {
            .howHead{
                flex-direction: column;   
                align-items: flex-start;
                gap: 2.4rem;
            }
            .headBotCon{
                flex-direction: column;
             }
             .headBot{
                max-width: none;
                width: 100%;
                height: auto;
             }
             .howHOne{
                font-size: 3.2rem;
    line-height: 40px;
    letter-spacing: -0.01em;
             }
            .howHFour{

            }
        }


        .custom {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
        }
        
        .custom svg {
            position: relative;
            display: block;
            width: calc(300% + 1.3px);
            height: 45px;
            transform: rotateY(180deg);
        }
        
        .custom .shape {
            fill: #325343;
        }