/* TherapyApplication.module.css */
.Section {
    display: flex;
    flex-direction: column;
    background: rgba(239, 248, 122, 1);
    gap: 48px;
    padding: 100px 200px;
  }
  
  @media screen and (max-width: 1270px) {
    .Section {
      padding: 100px 60px 100px 60px;
    }
  }
  
  @media screen and (max-width: 998px) {
    .Section {
      padding: 40px 16px;
    }
  }
  
  .Content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-left: 20px;
  }
  
  .List {
    list-style: disc;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .ListItem {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.004em;
    text-align: left;
    color: rgba(2, 44, 34, 1);
  }
  