.StyledWhy{
  background-color: rgba(248, 244, 240, 1);
}

.WhyContainer{
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 6.4rem 20rem 6.4rem 20rem;
  flex-direction: column;

  align-items: center;

  width: 100vw;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  @media screen and (max-width: 990px) {
    padding: 40px 16px 40px 16px;
    justify-content: center;
    align-items: center;
  }
}

.WhyBoldText{
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  letter-spacing: -0.01em;
  text-align: center;
  line-height: 4.8rem;
  color: rgba(2, 44, 34, 1);
  /* padding: 64px 120px 64px 120px; */
  @media screen and (max-width: 687.2px) {
    font-size: 3.2rem;
    line-height: 4rem;
  }
}
.WhyTinyText{

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: -0.004em;
    text-align: center;
    line-height: 2.6rem;
    color: rgba(2, 44, 34, 1);
    /* padding: 64px 120px 64px 120px; */
    @media screen and (max-width: 687.2px) {
      font-size: 1.6rem;
  
      line-height: 2.4rem;
    }
}
