.CookiesSec{
    position: fixed;
    z-index: 9999;
    bottom: 1px;
    /* right: 1px; */
    background-color: #ffffff;
    padding: 2rem;
    /* width: 100vw; */
    /* margin: 0 auto; */
    margin: 2rem 2rem .5rem 2rem;
    border-radius: 14px;
    color: #1b1b1be1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.588);
   
}
.cookieHOne{
    font-weight: 700;
    margin-bottom: 8px;
}
.cookieButtonContainer{
display: flex;
gap: 2rem;
    margin-top: 2.4rem;
}