/* Happy.module.css */

.styledHappy {
    background-color: var(--primary);
    padding: 100px 200px;
    position: relative;
    overflow: hidden;
    /* Responsive styles */
  }

  @media screen and (max-width: 990px) {
    .styledHappy {
      padding-right:16px;
      padding-left:16px;
      padding-top: 90px;
      padding-bottom: 40px;
      justify-content: center;
      align-items: center;
    }
  }

  .whyContainer{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    color: #ffffff;
    margin-bottom: 6.4rem;
    text-align: center;
  }
  .whyHead{
    font-size:4rem ;
    /* font: Inter; */
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.01em;
  
  }
  .whyPara{
    font-size:1.8rem ;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.004em;
   
  }
  @media screen and (max-width: 681.6px) {
    .whyHead {
      font-size: 3rem ;
    }
    .whyPara{
      font-size: 1.6rem;
    }
  }
  
  .happyContainer {
    display: flex;
    gap: 2.4rem;
   
  }
  
  @media screen and (max-width: 685px) {
  /* @media screen and (max-width: 990px) { */
    .happyContainer {
      flex-direction: column;
    }
  }
  
  .happyImage {
    flex: 1;
    width: 100%;
    /* position: relative; */
  }
  
  .happyImage img {
    border-radius: 1.6rem;
    /* object-fit: fill; */
    width: 100%;
    height: 100%;
 
  }
  /* .ImageHappy{
    position: relative;
  } */
  /* .ImageStar{
    position: absolute;
    z-index: 9999;
    top: -20em;
    width: 30%;
  } */
  .rightHappy {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2.4rem;
  }
  
  .tabs {
    padding: 2.4rem;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #1B1B1B;
    /* flex: 1; */
  }
  
  .tabBoldText {
    font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: -0.01em;
  }
  
  .tabLightText {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: -0.004em;
  }

  .starFlow {
    position: absolute;
    top: 1rem;
    left: 10rem;

    z-index: 9999;
    width: 30%;
  }
  .Immmage{
position: relative;
  }
  .star{
position: absolute;
z-index: 100;
top: -1rem;
left: 1rem;
width: 40%;
  }
  @media screen and (max-width: 990px) {
    .starFlow {
      top: -2em;
      left: -2em;
    }
    .starFlow img {
      width: 70%;
    }
  }

  /* .curveTop{
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
  }

  @media screen and (max-width: 500px) {
    .curveTop{
      top: -60px;
    }
  }
  @media screen and (max-width: 230px) {
    .curveTop{
      top: -80px;
    }
  } */

  .custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 69px;
}

.custom .shape{
    fill: white;
}